<title> List of Beds </title>
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="jumbotron">

        <h4 class="text-info text-center display-6 font-weight-bold"> This page lists all registered beds </h4><br/>

    <!-- beds is coming from the context_object_name in the BedListView -->
        <ol>
            {% for bed in beds %}
                <h5><li><a href="{{ bed.id }}"> {{ bed.name }} | {{ bed.status }}</a></li></h5>
                {% empty %}
                    <p class="emptyList" align="center">Sorry, no beds in this list.</p>
            {% endfor %}
        </ol>

    <!-- displaying success messages on addition and deletion of beds -->
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-dismissable
                {% if message.tags %}
                alert-{{ message.tags }}">
                {% endif %}
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
                </p>

            {% endfor %}
        {% endif %}
    </div>

{% endblock %}