<title>Doctors-Medical-Tests</title>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="jumbotron">

        <h5 class="text-info text-center display-6 font-weight-bold"> This page lists all medical tests prescribed by
            Dr. {{ request.user.first_name }} {{ request.user.last_name }}
        </h5><br/>

    <!-- doctors is coming from the context_object_name in the DoctorListView -->
        <ol>
            {% for medicaltest in medicaltest_list %}
                <h5><li><a href="{{ medicaltest.id }}"> Medical Test prescribed by: {{ medicaltest.doctor }}
                    on behalf of {{ medicaltest.patient }} dated {{ medicaltest.date }}</a></li></h5>
                {% empty %}
                    <p class="emptyList" align="center">Sorry, no medical tests for this doctor.</p>
            {% endfor %}
        </ol>

    <!-- displaying success messages on addition and deletion of doctors -->
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-dismissable
                {% if message.tags %}
                alert-{{ message.tags }}">
                {% endif %}
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
                </p>

            {% endfor %}
        {% endif %}
    </div>

{% endblock %}