<title>Doctor Recommendation Update</title>
{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron">
        <div class="container">

        <h3> Welcome to the Details Page for the medical recommendation: {{ recommendation_detail.recommendation_number }}
        </h3><br/>
            <p> Medical Recommendation Number: {{ recommendation_detail.recommendation_number }}</p>
            <p> Medical Recommendation by: {{ recommendation_detail.doctor_recommendation }}</p>
            <p> Medical Recommendation for: {{ recommendation_detail.patient_recommendation }}</p>
            <p> Content of Medical Recommendation: {{ recommendation_detail.medical_recommendation }}</p>
            <p> Date of Medical Recommendation: {{ recommendation_detail.recommendation_date }}</p>
            <p> Medical Recommendation Status: {{ recommendation_detail.recommendation_status }}</p>

        </div>
    </div>

{% endblock %}