<title> List of Medical Tests </title>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="jumbotron">

        <h4 class="text-info text-center display-6 font-weight-bold"> This page lists all recorded medical tests </h4>
        <br/>

    <!-- medical_tests is coming from the context_object_name in the MedicalTestListView -->
        <ol>
            {% for medical_test in medical_tests %}
                <h5><li><a href="{{ medical_test.id }}"> {{ medical_test.name }} </a></li></h5>
                {% empty %}
                    <p class="emptyList" align="center">Sorry, no medical tests in this list.</p>
            {% endfor %}
        </ol>

    <!-- displaying success messages on addition and deletion of medical tests -->
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-dismissable
                {% if message.tags %}
                alert-{{ message.tags }}">
                {% endif %}
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
                </p>

            {% endfor %}
        {% endif %}
    </div>

{% endblock %}