<title>Delete Official</title>
{% extends 'base.html' %}
{% block content %}

    <div class="container">
    <!-- official_delete is the context_object_name from the OfficialDeleteView -->
        <h1> Are you sure you want to delete the records of the Official {{ official_delete.first_name }}
            {{ official_delete.middle_name }} {{ official_delete.last_name }}?
        </h1>
        <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
            <!-- referencing the specific official object based on the username -->
            <a href="{% url 'chis_sl:official_detail' username=user.username %}">
            <input type="button" class="btn btn-warning" value="Cancel">
            </a>

        </form>
    </div>

{% endblock %}