<title>Patient-Medical History</title>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="jumbotron">
        <h5 class="text-info text-center display-6 font-weight-bold"> This page lists the
            medical history for the patient {{ request.user.first_name }} {{ request.user.last_name }}
        </h5><br/>

            <ol>
                {% for history in history_list %}
                    <h5><li><a href="{{ history.id }}"> Your Medical History titled: {{ history.number }} </a></li></h5>
                    {% empty %}
                        <p class="emptyList" align="center">Sorry, you have no Medical History at this moment!.</p>
                {% endfor %}
            </ol>

        <!-- displaying success messages on addition and deletion of prescriptions -->
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-dismissable
                {% if message.tags %}
                alert-{{ message.tags }}">
                {% endif %}
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
                </p>

            {% endfor %}
        {% endif %}
    </div>

{% endblock %}