<title>Patient-Medical-Tests</title>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="jumbotron">

        <h4 class="text-info text-center display-6 font-weight-bold"> This page lists all medical tests for the patient
            {{ request.user.first_name }} {{ request.user.last_name }}
        </h4><br/>

            <ol>
                {% for medicaltest in medicaltest_list %}
                    <h5><li><a href="{{ medicaltest.id }}"> This Medical Test is prescribed by: {{ medicaltest.doctor }}
                        dated {{ medicaltest.date }}</a></li></h5>
                    {% empty %}
                        <p class="emptyList" align="center">Sorry, You have no medical tests at this moment!.</p>
                {% endfor %}
            </ol>

        <!-- displaying success messages on addition and deletion of patients' medical tests -->
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-dismissable
                {% if message.tags %}
                alert-{{ message.tags }}">
                {% endif %}
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
                </p>

            {% endfor %}
        {% endif %}
    </div>

{% endblock %}