<title> List of Prescriptions </title>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="jumbotron">
        <h4 class="text-info text-center display-6 font-weight-bold"> This page lists all prescriptions </h4><br/>

    <!-- prescriptions is coming from the context_object_name in the PrescriptionListView -->
        <ol>
            {% for prescription in prescriptions %}
                <h5><li><a href="{{ prescription.id }}"> {{ prescription.name }} | {{ prescription.date }}
                </a></li></h5>
                {% empty %}
                    <p class="emptyList" align="center">Sorry, no medical prescriptions in this list.</p>
            {% endfor %}
        </ol>

    <!-- displaying success messages on addition and deletion of prescriptions -->
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-dismissable
                {% if message.tags %}
                alert-{{ message.tags }}">
                {% endif %}
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
                </p>

            {% endfor %}
        {% endif %}
    </div>

{% endblock %}