<title>Delete Medical Report</title>
{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <!-- report_delete is the context_object_name from the ReportDeleteView -->
        <h1> Delete Medical Report titled {{ report_delete.name }} dated {{ report_delete.report_date }} ?</h1>
        <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
            <a href="{% url 'chis_sl:report_detail' pk=report_delete.pk %}">
            <input type="button" class="btn btn-warning" value="Cancel">
            </a>

        </form>
    </div>

{% endblock %}