<title> List of Hospital Staff </title>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron">

        <h4 class="text-info text-center display-6 font-weight-bold"> This page lists Staff from all registered
            hospitals </h4><br/>

    <!-- staffs is coming from the context_object_name in the PatientListView -->
        <ol>
            {% for staff in staffs %}
                <h5><li><a href="{{ staff.username }}"> {{ staff.first_name }} {{ staff.middle_name }}
                    {{ staff.last_name }} </a></li></h5>
                {% empty %}
                    <p class="emptyList" align="center">Sorry, no registered hospital staff in this list.</p>
            {% endfor %}
        </ol>

    <!-- displaying success messages on addition and deletion of hospital staff -->
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-dismissable
            {% if message.tags %}
            alert-{{ message.tags }}">
            {% endif %}
               <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
            </p>

        {% endfor %}
    {% endif %}
    </div>

{% endblock %}