<title> List of Users </title>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="jumbotron">

        <h4> This page lists all Users </h4><br/>

    <!-- users is coming from the context_object_name in the UserListView -->
        <ol>
            {% for user in users %}
                <h5><li><a href="{{ user.id }}"> {{ user.first_name }} {{ user.last_name }} </a></li></h5>
                {% empty %}
                    <p class="emptyList" align="center">Sorry, no registered users in this list.</p>
            {% endfor %}
        </ol>

    <!-- displaying success messages on addition and deletion of users -->
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-dismissable
                {% if message.tags %}
                alert-{{ message.tags }}">
                {% endif %}
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
                </p>

            {% endfor %}
        {% endif %}
    </div>

{% endblock %}