<title>Update User</title>
{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>
                {% if not form.instance.pk %}  <!-- checks whether the primary key of the doctor exists or not -->
                    User Creation Form
                    {% else %}
                    Update User
                {% endif %}
            </h1>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary" value="Update User">
            </form>
        </div>
    </div>

{% endblock %}