<title>Delete User</title>
{% extends 'base.html' %}
{% block content %}

    <div class="container">
    <!-- ward_delete is the context_object_name from the WardDeleteView -->
        <h1> Delete User {{ user_delete.first_name }} ({{ user_delete.last_name }}) ?</h1>
        <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
            <a href="{% url 'chis_sl:user_detail' pk=user_delete.pk %}">
            <input type="button" class="btn btn-warning" value="Cancel">
            </a>

        </form>
    </div>

{% endblock %}