<title> List of Wards </title>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="jumbotron">

        <h4 class="text-info text-center display-6 font-weight-bold"> This page lists all wards </h4><br/>

    <!-- wards is coming from the context_object_name in the WardListView -->
        <ol>
            {% for ward in wards %}
                <h5><li><a href="{{ ward.id }}"> {{ ward.name }} - {{ ward.hospital }} </a></li></h5>
                {% empty %}
                    <p class="emptyList" align="center">Sorry, no wards in this list.</p>
            {% endfor %}
        </ol>

    <!-- displaying success messages on addition and deletion of hospital wards -->
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-dismissable
                {% if message.tags %}
                alert-{{ message.tags }}">
                {% endif %}
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
                </p>

            {% endfor %}
        {% endif %}
    </div>

{% endblock %}