<title>About CHIS</title>
{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron">
        <div class="container">

            <h3 class="display-5 text-center text-info font-weight-bold"> About CHIS_SL </h3><br/>
            <p> The Republic of Sierra Leone, a country located on the West Coast of Africa is bordered on the
                north-east by
                Guinea, the south-east by Liberia, and by the Atlantic Ocean on the south-west. </p>

            <p> Sierra Leone has a total area of 71,740 km2 (27,669 sq. mi) with a population size of 7,092,113
                (Male: 3,490,978 and Female: 3,601,135); comprising a household population of 7,076,119,
                and an institutional
                population of 15,994. </p>

            <p> By residential type, 4,187,016 people live in the rural areas (59.0%), and 2,905,097 people live
                in the urban
                areas (41.0%). The country has a predominantly tropical climate; with environment ranging from
                savannah to
                rain forests and there are six (6) regions; Eastern Region, Northern Region, Southern Region,
                North West,
                Western Rural and Western Urban, with sixteen (16) districts. </p>

            <p class="lead"> CHIS_SL is a cloud based Health care Management Information System (HMIS),
                design and implemented using the
                python programming language, with django web framework and deployed on Google App Engine public cloud
                deployment infrastructure.
                This system captures data on hospitals, ward allocations, doctors, appointments, patients, specialists,
                medical recommendations, pharmacies, illnesses, government officials interfacing with health
                practitioners,
                allocation of beds to patients in hospitals, etc. </p>

            <p class="lead font-weight-bold text-info"> CHIS_SL provides the following core functions: <br/>
                <ol>
                <li> Provides health centres with an effective method of monitoring patients’ progress and response to
                    treatment </li>
                <li> The platform through which patients in rural areas of the country can benefit from health care
                    services
                    offered by health care professionals residing in the urban cities. </li>
                <li> Provides an easy to use web interface hosted in the cloud to the administration of health centres
                    helping them acquire the most critical information on patients in a timely manner </li>
                <li> Provides a platform through which patients could be able to check their personal health records
                </li>
                <li> Provides a platform through which patients, doctors, and other health care professionals could be
                    identified uniquely </li>
                <li> Ensures health care practitioners in rural areas are able to escalate severe health care cases to
                    health care professionals in the urban areas </li>
                <li> Be able to add objects like doctors, patients, appointments, hospitals, pharmacies etc. and also
                    be able
                    to remove these objects as and when the need arises in an intuitive and easy platform. </li>
            </ol>
                </p>


        </div>
    </div>

{% endblock %}